{% extends 'user/base.html' %}
{% load static %}
{% block title %}
Sign Up
{% endblock %}
{% block body %}
<div class="container ">
    <div class=" px-4 py-5" style="border-radius: 20px;background: rgba(1, 65, 1, 0.103);">

        <div class="row">
            <div class="col-6 text-center">
                <button class="w-100 border py-2 rounded-pill text-white"
                    style="background: rgb(10, 160, 10);">Register</button>
            </div>
            <div class="col-6 text-center">
                <a href="{% url 'login_form' %}" class="btn w-100 bg-dark border text-white py-2 rounded-pill">Login</a>
            </div>
        </div>
        <br>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    <!-- {{ field.label_tag }}<br> -->
                    {{ field }}
                    <!-- {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %} -->
                    
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            <button class="py-2 w-100 rounded-pill" style="border-radius: solid 2px black;background: white;" type="submit">Sign up</button>
        </form>
        <!-- <br> -->
        <!-- <br>
        <div class="text-center">

            <p>Sign-in using</p>
        </div>
        <div class="row">
            <div class="col-6 text-center">
                <button class="w-100 border py-2 rounded-pill text-white"
                    style="background: rgb(255, 0, 0);">Google</button>
            </div>
            <div class="col-6 text-center">
                <button class="w-100  border text-white py-2 rounded-pill" style="background: blue;">Facebook</button>
            </div>
        </div> -->
    </div>
</div>

<br>
<br>
{% endblock %}