{% load static %}
<footer class="footer">
	<!-- Footer Top -->
	<div class="footer-top section">

	</div>
	<!-- End Footer Top -->
	<div class="copyright">
		<div class="container">
			<div class="inner">
				<div class="row">
					<div class="col-lg-6 col-12">
						<div class="left">
							<p>Copyright © 2020 <a href="" target="_blank"></a> - All Rights Reserved.</p>
						</div>
					</div>
					<div class="col-lg-6 col-12">
						<div class="right">
							<img src="{% static 'images/payments.png' %}" alt="#">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>