<div class="container bg-dark">
    <br>
    <div class="row">
        <div class="col-6 text-white p-2 pl-3">
            <h4><strong>Missed Something?</strong></h4>
            <!-- {% load mptt_tags %}
            <ul>
                {% recursetree category %}
                <li>
                    {{ node.title }}
                    {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                    {% endif %}
                </li>
                {% endrecursetree %}
            </ul> -->
            <!-- {% load mptt_tags %}
            <ul>
                {% recursetree category %}
                <li>
                    {{ node.title }}

                </li>
                {% endrecursetree %}
            </ul> -->
            <a class="py-0 my-0">Summerwear</a>
            <br>
            <a class="py-0 my-0">Winterwear</a>
            <br>
            <a class="py-0 my-0">Ethnic</a>
            <br>
            <a class="py-0 my-0">Sports</a>
            <br>
            <a class="py-0 my-0">Casual</a>
            <br>
            <a class="py-0 my-0">Formal</a>
            <br>
            <a class="py-0 my-0">Electronics</a>
            <br>
            <a class="py-0 my-0">Groceries</a>
        </div>
        <div class="col-6">
            <h4 class="text-white"><strong>Reach Us</strong></h4>
            <div class="bg-white p-2 mb-2 rounded">
                <h5><strong>Office Address</strong></h5>
                <p class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates maxime minima,
                    minus
                    nesciunt unde eos!</p>
            </div>
            <div class="bg-white p-2 rounded">
                <h5><strong>Mailing Address</strong></h5>
                <p class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates maxime minima,
                    minus
                    nesciunt unde eos!</p>
            </div>
        </div>
    </div>
    <br>
</div>
<br>
<div class="container">

    <div class="row  mx-0 px-0">
        <div class="col-md-4"></div>
        <div class="col-md-4  mx-0 px-0">
            <div class="row mx-0 px-0">
                <div class="col-4 text-center">
                    <i class="fab fa-facebook fa-3x text-primary"></i>
                </div>
                <div class="col-4 text-center">
                    <i class="fab fa-twitter fa-3x text-default"></i>
                </div>
                <div class="col-4 text-center">
                    <i class="fab fa-instagram fa-3x text-secondary"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<br>
<div class="container text-center my-2">
    <a class="bg-dark text-white px-5 py-2 rounded-pill" href="{% url 'logout_func' %}">Logout</a>
</div>
<br>
<div class="container text-center text-white bg-dark mb-0">
    <p class="mb-0 py-2">copyright @Buckler 2021</p>
</div>