{% extends 'eshop/base.html' %}
{% load static %}
{% block body %}

<div class="row mb-3 mx-0">
    {% for ps in product_slider %}
    <a href="" class="col-md-6  p-0 m-0"
        style="background: url({{ ps.image.url }});background-size: cover;background-position: center; height: 400px;">
        <div class="p-3 m-0" style="background: rgba(0, 0, 0, 0.6);height: 100%;">
            <div style="height: 200px;"></div>
            <div class="text-white">
                <h2>{{ ps.title }}</h2>
                <h5 style="font-weight: 500;">{{ ps.description|truncatechars:150 }}...</h5>
            </div>
        </div>
    </a>
    {% endfor %}
    <!-- <a href="" class="col-md-6  p-0 m-0"
        style="height: 400px;background: url(https://images.unsplash.com/photo-1597359726076-10461a67d1b9?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8b2ZmZXJzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);background-size: cover;background-position: center; ">
        <div class="p-3 m-0" style="background: rgba(0, 0, 0, 0.6);height: 100%;">
            <div style="height: 200px;"></div>
            <div class="text-white">
                <h2>caption</h2>
                <h5 style="font-weight: 500;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
                    nemo neque laborum sequi omnis laudantium!</h5>
            </div>
        </div>
    </a>
    <a href="" class="col-md-6 bg-primary p-0 m-0"
        style="background: url(https://images.unsplash.com/photo-1557537386-918b5c1a7b4d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTZ8fG9mZmVyc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);background-size: cover;background-position: center; height: 400px;">
        <div class="p-3 m-0" style="background: rgba(0, 0, 0, 0.6);height: 100%;">

            <div style="height: 200px;"></div>
            <div class="text-white">
                <h2>caption</h2>
                <h5 style="font-weight: 500;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
                    nemo neque laborum sequi omnis laudantium!</h5>
            </div>
        </div>
    </a>
    <a href="" class="col-md-6 bg-primary p-0 m-0"
        style="background: url(https://images.unsplash.com/photo-1569075269124-297c50df7373?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);background-size: cover;background-position: center; height: 400px;">
        <div class="p-3 m-0" style="background: rgba(0, 0, 0, 0.6);height: 100%;">

            <div style="height: 200px;"></div>
            <div class="text-white">
                <h2>caption</h2>
                <h5 style="font-weight: 500;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
                    nemo neque laborum sequi omnis laudantium!</h5>
            </div>
        </div>
    </a> -->
</div>
<div class="container text-center">
    <h1 class="my-2">CATEGORIES</h1>
    <div class="row">
        <a href="" class="col-md-4 my-3">
            <div class=" bg-primary"
                style="border-radius: 20px; background-size: cover;background-position: center; height: 300px;background-image: url(https://images.unsplash.com/photo-1492446845049-9c50cc313f00?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8bWVufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);">
                <div style="height: 100%;background: rgba(0, 0, 0, 0.3);border-radius: 20px;">
                    <div style="height: 200px;"></div>
                    <h1 class="text-white align-middle">MEN</h1>
                </div>
            </div>
        </a>

        <a href="" class="col-md-4 my-3">
            <div class=" bg-primary"
                style="border-radius: 20px; background-size: cover;background-position: center; height: 300px;background-image: url(https://images.unsplash.com/photo-1494354145959-25cb82edf23d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTR8fHdvbWVufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);">
                <div style="height: 100%;background: rgba(0, 0, 0, 0.3);border-radius: 20px;">
                    <div style="height: 200px;"></div>
                    <h1 class="text-white align-middle">WOMEN</h1>
                </div>
            </div>
        </a>

        <a href="" class="col-md-4 my-3">
            <div class=" bg-primary"
                style="border-radius: 20px; background-size: cover;background-position: center; height: 300px;background-image: url(https://images.unsplash.com/photo-1469406396016-013bfae5d83e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
                <div style="height: 100%;background: rgba(0, 0, 0, 0.3);border-radius: 20px;">
                    <div style="height: 200px;"></div>
                    <h1 class="text-white align-middle">BOY</h1>
                </div>
            </div>
        </a>

        <a href="" class="col-md-4 my-3">
            <div class=" bg-primary"
                style="border-radius: 20px; background-size: cover;background-position: center; height: 300px;background-image: url(https://images.unsplash.com/photo-1513791149369-f88da26c8e93?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjV8fGNoaWxkfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);">
                <div style="height: 100%;background: rgba(0, 0, 0, 0.3);border-radius: 20px;">
                    <div style="height: 200px;"></div>
                    <h1 class="text-white align-middle">GIRL</h1>
                </div>
            </div>
        </a>

        <a href="" class="col-md-4 my-3">
            <div class=" bg-primary"
                style="border-radius: 20px; background-size: cover;background-position: center; height: 300px;background-image: url(https://images.unsplash.com/photo-1593642632823-8f785ba67e45?ixid=MXwxMjA3fDF8MHxzZWFyY2h8MXx8ZWxlY3Ryb25pY3N8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);">
                <div style="height: 100%;background: rgba(0, 0, 0, 0.3);border-radius: 20px;">
                    <div style="height: 200px;"></div>
                    <h1 class="text-white align-middle">ELECTRONICS</h1>
                </div>
            </div>
        </a>

        <a href="" class="col-md-4 my-3">
            <div class=" bg-primary"
                style="border-radius: 20px; background-size: cover;background-position: center; height: 300px;background-image: url(https://images.unsplash.com/photo-1447738506380-8f3f981c1103?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8c3BlY2lhbCUyMGl0ZW1zfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);">
                <div style="height: 100%;background: rgba(0, 0, 0, 0.3);border-radius: 20px;">
                    <div style="height: 200px;"></div>
                    <h1 class="text-white align-middle">SPECIAL</h1>
                </div>
            </div>
        </a>


    </div>
</div>

{% endblock %}