{% extends 'eshop/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block body %}
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            {% for i in range %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{i}}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for item in product_slider %}
            <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                <a href="/product/{{ item.id }}/{{ item.slug }}">
                    <img class="d-block w-100" style="border-radius: 10px !important;" src="{{ item.image.url }}"
                        alt="First slide">
                </a>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<br>
<div class="container text-center my-3">
    <a style="border-radius: 10px;font-weight: 400;" class="text-light bg-dark px-4 py-2" href="">CATEGORIES</a>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-4 ">
            <a href="">
                <h2>{{ category.0.title }}</h2>
                <img class="w-100" id="catbox"
                    src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjV8fG1lbnxlbnwwfDJ8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    alt="">
            </a>
        </div>
        <div class="col-4">
            <a href="">
                <h2>{{ category.1.title }}</h2>
                <img class="w-100" id="catbox"
                    src="https://images.unsplash.com/photo-1521510186458-bbbda7aef46b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8d29tZW58ZW58MHwyfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    alt="">
            </a>
        </div>
        <div class="col-4">
            <a href="">
                <h2>{{ category.2.title }}</h2>
                <img class="w-100" id="catbox"
                    src="https://images.unsplash.com/photo-1524855567984-d7bbc2893539?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Y2hpbGRyZW58ZW58MHwyfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    alt="">
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
            <a href="">
                <h2>{{ category.3.title }}</h2>

                <img class="w-100" id="catbox"
                    src="https://images.unsplash.com/photo-1588058365548-9efe5acb8077?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjJ8fGVsZWN0cm9uaWNzfGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    alt="">
            </a>
        </div>
        <div class="col-6">
            <a href="">
                <h2>{{ category.4.title }}</h2>
                <img class="w-100" id="catbox"
                    src="https://images.unsplash.com/photo-1588058365548-9efe5acb8077?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjJ8fGVsZWN0cm9uaWNzfGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    alt="">
            </a>
        </div>
    </div>
</div>
<br>
<div class="container text-center my-3">
    <a style="border-radius: 10px;font-weight: 400;" class="text-light bg-dark px-4 py-2" href="">TRENDING</a>
</div>
<br>
<div class="container">
    <div class="row">
        <!--Loop starts here-->
        {% for item in product_trending %}
        <div class="col-6 mx-0 px-1 ">
            <a href="/product/{{ item.id }}/{{ item.slug }}">
                <div class="w-100 rounded">
                    <img class="w-100 rounded" id="listimg" src="{{ item.image.url }}" alt="">
                    <div class="px-2 pt-2 ">
                        <div>
                            <h6 class="my-0 py-0 text-success"><Strong>{{ item.brand }}</Strong></h6>
                            <p class="w-100 text-dark small mb-0 pb-0">{{ item.title }}</p>
                            <a class="small disabled text-dark h4 mr-1 mt-0 pt-0" href="" style="font-weight: 700;">Rs.
                                {{ item.price }}</a>
                            <a class="small disabled text-dark mt-0 pt-0" href=""><strike>Rs.
                                    {{ item.prevprice}}</strike></a>
                            <a class=" disabled text-dark mt-0 pt-0 ml-2" href="">3.4 <span
                                    class="fa fa-star text-warning"></span></a>
                        </div>
                        <a href="{% url 'addtoshopcart' item.id %}"
                            class="my-2 w-md-100 text-light bg-dark p-1 px-3 mx-0 rounded" style="border: none">Add to
                            cart</a>
                        <a href="{% url 'addtowishlist' item.id %}" class="my-2 rounded-circle ml-1"
                            style="border: none;height: 32px !important;width: 32px;background: red;object-fit: cover;object-position: center;"><i
                                class="far fa-heart text-white"></i></a>
                    </div>
                </div>
            </a>
            <br>
        </div>
        {% endfor %}
        <!--Loop ends here-->
    </div>
</div>

<!-- {{ men.title }} <br>
{% for item in child %}
    {{ item.title }}
{% endfor %} -->

<!-- {% load mptt_tags %}
<ul>
    {% recursetree category %}
        <li>
            {{ node.title }}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul> -->
{% endblock %}