{% load mptt_tags %}
<header class="header shop">
    <!-- End Topbar -->
    <div class="middle-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-12">
                    <!-- Logo -->
                    <a href="/">
                        <div class="logo">
                            <h2>Buckler.</h2>
                        </div>
                    </a>
                    <!--/ End Logo -->
                    <!-- Search Form -->
                    <div class="search-top">
                        <div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
                        <!-- Search Form -->
                        <div class="search-top">
                            <form class="search-form">
                                <input type="text" placeholder="Search here..." name="search">
                                <button value="search" type="submit"><i class="ti-search"></i></button>
                            </form>
                        </div>
                        <!--/ End Search Form -->
                    </div>
                    <!--/ End Search Form -->
                    <div class="mobile-nav"></div>
                </div>
                <div class="col-lg-8 col-md-7 col-12">

                </div>
                <div class="col-lg-2 col-md-3 col-12">
                    <div class="right-bar">
                        <!-- Search Form -->
                        <div class="sinlge-bar">
                            <a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                        <div class="sinlge-bar">
                            <a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                        </div>
                        <div class="sinlge-bar shopping">
                            <a href="#" class="single-icon"><i class="ti-bag"></i> <span
                                    class="total-count">2</span></a>
                            <!-- Shopping Item -->

                            <!--/ End Shopping Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="cat-nav-head">
                <div class="row">
                    <div class="col-12">
                        <div class="menu-area">
                            <!-- Main Menu -->
                            <nav class="navbar navbar-expand-lg">
                                <div class="navbar-collapse">
                                    <div class="nav-inner">
                                        <ul class="nav main-menu menu navbar-nav">
                                            <li class="active"><a href="#">Home</a></li>
                                            <li><a href="#">Categories<i class="ti-angle-down"></i></a>
                                                <ul class="dropdown">
                                                    {% recursetree category %}
                                                    <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a>
                                                        {% if not node.is_leaf_node %}
                                                            <ul  class="dropdown-toggle" data-toggle="dropdown">
                                                                <li>{{ children }}</li>
                                                            </ul>
                                                        {% endif %}
                                                    </li>
                                                    {% endrecursetree %}
                                                </ul>
                                            </li>


                                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                            <li><a href="{% url 'aboutus' %}">About Us</a></li>
                                            <li><a href="account.html">Your Account</a></li>
                                            <li><a href="cart.html">Cart</a></li>
                                            <li>
                                                <div class="search-bar-top">
                                                    <div class="search-bar">

                                                        <form style="">
                                                            <input name="search" placeholder="Search Products Here....."
                                                                type="search">
                                                            <button class="btnn"><i class="ti-search"></i></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <!--/ End Main Menu -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Inner -->
</header>
<!--/ End Header -->